/* */
html {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 85%;
    box-sizing: border-box;
    background: #eeeeee;
}

body {
}

img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    max-height: 100%;
    object-fit: cover;
}

audio { max-width: 100%; }
/* Title bar */
body > header {
    color: white;
    display: block;
    background: #37474F;
    padding: 10px;
    box-shadow: 0 0 15px #9D9D9D, 0 5px 15px #9D9D9D;
    display: flex;
    justify-content: space-between;
}

body > header > a {
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-family: 'Lobster';
    font-size: 300%;
    float: left;
}

body > header > section {
    padding: 0 20px;
    float: right;
    text-align: right;
    font-size: 120%;
    line-height:1.5em;
}

body > header > section > label {
    margin: 0 30px;
}

body > section {
    margin: 0 15%;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    overflow: hidden;
}

/* Tracker types */
body > section > header {
    color: grey;
    padding: 10px 30px;
}

    /* Advertiser cards */
    body > section > section {
    overflow: hidden;
        background: white;
        margin: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
        padding: 10px;
    }
    
    body > section > section > header {
        font-weight: bold;
        padding: 10px;
        margin: 10px;
    }
        
        /* Campaign cards */
        body > section > section > section {
    overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px;
            background: #CFD8DC;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
            margin: 0;
        }

        body > section > section > section > img {
            padding: 0 10px 0 0;
            vertical-align:middle;
            width: 45px;
            float: left;
        }
        
        body > section > section > section > header {
        font-weight: bold;
            padding: 10px;
            margin: 0;
            float: left;
            width: 20%;
            height: 100%;
        }
        
            /* Tracking cards */
            body > section > section > section > section {
    word-break: break-all;
    overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
            margin: 0;
                display: flex;
                background: white;
                float: right;
                width: 70%;
            }

            body > section > section > section > section > header {
        font-weight: bold;
            padding: 10px;
            margin: 0;
            float: left;
            height: 100%;
                width: 20%;
            }

                /* URL */
                body > section > section > section > section > section {
    overflow: hidden;
                display: flex;
                background: white;
                float: right;
                    box-shadow: none;
                    padding: 0;
                    margin: 0;
                    border: none;
                    width: 80%;
                }

.message {
    text-align: center;
}
.loading-image {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.information {
font-size: 80%;
font-style: italic;
}

.hideable {
max-height: 50000px;
transition: max-height 2.5s ease-in;
overflow: hidden;
}

.hide_element {
margin: 0;
opacity: 0;
max-height: 0;
padding: 0;
border-width: 0;
overflow: hidden;
transition: opacity 1s ease-in-out, padding 0s ease 1s, margin 0s ease 1s, border-width 0s ease 1s, max-height 1s ease-in-out;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('fonts/lobster/Lobster.ttf');
}

.z0 {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.z1 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.z2 {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.z3 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

.z4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.z5 {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 1px;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 20px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 20px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 19px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 20px;
}

form {
    padding: 20px;
    text-align: center;
    font-size: 150%;
}

input[type=text] {
   width: 50%;
}

button {
}

/* Button Material ================================== 

button {
  position: relative;

  margin: 30px auto;
  padding: 12px 24px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

button:hover, button:focus {
  background-color: #27ae60;
}

button > * {
  position: relative;
}

button:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}





/* TEXT INPUT MATERIAL ======================================= 
.group { 
  position:relative; 
  margin-bottom:45px;
}
.group > input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  color: black;

}
.group > input:focus {
    outline:none;
}


.group > label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.group > input:focus ~ label, .group > input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

.group > input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.group > input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
